<section>
     <div class="mt-5 page-wrapper font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title text-dark">Registrar Autor</h2>
                    <form method="POST" action="/Add-Autor">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="NOMBRE" name="nombreAutor" required>
                        </div> 
                        <div class="row row-space"> 
                                <div class="input-group">
                                    <input class="input--style-1" type="email" placeholder="DIGITE EL EMAIL" name="correo" required> 
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><section>
     <div class="mt-5 page-wrapper font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title text-dark">Registrar Autor</h2>
                    <form method="POST" action="/Add-Autor">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="NOMBRE" name="nombreAutor" required>
                        </div> 
                        <div class="row row-space"> 
                                <div class="input-group">
                                    <input class="input--style-1" type="email" placeholder="DIGITE EL EMAIL" name="correo" required> 
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>